server/node_modules
server/server.js
dist
server/resources
soundCandidates
resources/.*
*.js
server/log
server/errorlog
node_modules
pnpm-lock.yaml
workspace
resources/background/*.png
tools/*.js
tools/features.json
