body {
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: safe center;
  width: 100%;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.tooltip {
  /* position: relative; */
  display: inline-block;
  z-index: 5;
}

.tooltip .tooltipText {
  visibility: hidden;
  /* width: 30vw; */
  background-color: rgb(207, 202, 202);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  z-index: 6;
}

.tooltip .bigTooltipText {
  visibility: hidden;
  /* width: 30vw; */
  background-color: rgb(207, 202, 202);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 10px 30px;

  /* width: 90vw; */
  /* height: 90vh; */

  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  position: absolute;
  z-index: 6;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.tooltip:hover .bigTooltipText {
  visibility: visible;
}

.svgText {
  position: absolute;
  z-index: 2;
  left: 0;
  top: -12px;
  width: 250px;
  height: 250px;
}

.settings {
  z-index: 4;
  margin-top: 8px;
  margin-left: 8px;
  position: absolute;
  height: 35px;
  width: 35px;
  opacity: 0.4;
  cursor: pointer;
}

.settings:hover {
  opacity: 0.8;
}

.cargo {
  z-index: 4;
  top: 40vh;
  left: 15px;
  position: absolute;
  height: 35px;
  width: 35px;
  opacity: 0.4;
  cursor: pointer;
}

.cargo:hover {
  opacity: 0.8;
}

.chatInputStyle {
  top: 80vh;
  z-index: 2;

  background-color: transparent;
  color: white;
  border: none;
  display: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dockedMessageDisplayStyle {
  top: 1vh;
  z-index: 8;
  color: white;
}

.dockedMessageDisplayStyle.fadeOut {
  animation: fadeOut 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dockedMessageDisplayStyle.fadeIn {
  animation: fadeIn 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dockedMessageTextStyle {
  transition: filter 0.5s ease-in-out, color 0.5s ease-in-out;
  filter: box-shadow(0 0 0rem white);
  color: white;
}

.dockedMessageTextStyle.notifyChanged {
  filter: drop-shadow(0 0 0.75rem red);
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 2%;
  background-color: #1e1e1e;
  color: #fff;
  height: 10vh;
  justify-content: center;
}

.square:hover {
  background-color: #2e2e2e;
}

#dialog input {
  border: 1px solid grey;
  background-color: rgba(45, 54, 76, 0.7);
  padding: 0.6rem 0.8rem;
  border-radius: 1.6rem;
  color: white;
}

#dialog button {
  background-color: rgba(45, 54, 76, 0.9);
  color: #eee;
  font-size: 0.9rem;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 1.4rem;
  cursor: pointer;
}

#dialog button:disabled {
  color: rgb(144, 144, 144);
  background-color: rgba(13, 15, 21, 0.9);
  cursor: auto;
}

#dialog button.secondary {
  background-color: transparent;
  color: #ccc;
  text-decoration: underline;
}

#dialog #controls tr {
  line-height: 1.6;
}

#dialog #controls tr > td:first-child {
  width: fit-content;
}

#dialog h2 {
  margin-bottom: 0.2rem;
}

.error {
  color: red;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  font-size: 13px;
  box-shadow: inset -2px -1px 0 0 #ccc;
  background-color: rgb(247, 247, 247);
  text-shadow: 0 1px 0 #fff;
  font-family: monospace;
}

.loading {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

.manufacturing {
  max-height: 80vh;
  max-width: 95vw;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #738778;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #48554b;
}

.bottomButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkAsText {
  margin: 8px;
  font-size: 1.8em;
  color: #ccc;
  cursor: pointer;
}

.checkAsTextChecked {
  color:rgb(37, 0, 247);
  text-shadow: 0 0 8px #5e34f6;
}
